ol{
    list-style-type: none;
    padding: unset;
}
ol>li{
    padding: 8px;
    position: relative;
    font-family: fantasy;
    font-size: 22px;
}    
button{
    width:100%;
    background-color: transparent;
    border: none;
    border-bottom:1px solid #ccc;
}
p{
    text-align: left;
    font-family: fantasy;
    font-size: 22px;
    margin: 15px
}